@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Cores */
:root {
  --fulldark: #261647;
  --fulllight: #f5f4fd; 
  --secdark: #492dee;
  --enfdark: #6533e8;
  --seclight: #c6c0f5;
  --hover_act_a: #60d789;
  --hover_act_b: #df4a61;
  --hover_act_c: #ef9661;
}

* {
  font-family: "Lexend", sans-serif;
}

body{
  margin: 0;
  background-color: var(--fulldark);
}

.todo{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.navbar{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  width: 300px;
  background-color: var(--secdark);
  transition-duration: 0.3s;
  align-items: center;
}

.navbar:hover{
  background-color: var(--enfdark);
  transition-duration: 0.3s;
}

.logo{
  margin: 32px;
  cursor: pointer;
}

h1{
  color: var(--fulllight);
  font-size: 42pt;
  line-height: 1.0em;
  transition-duration: 0.3s;
}

.viewport{
  display: flex;
  align-items: center;
  padding: 64px;
}

.ac_button{
  padding: 16px 32px 16px 32px;
  font-family: 'Lexend', sans-serif;
  font-size: 12pt;
  border-radius: 32px;
  background-color: var(--secdark);
  color: var(--fulllight);
  border: none;
  transition-duration: 0.3s;
}

.ac_button:hover{
  padding: 16px 38px 16px 38px;
  background-color: var(--hover_act_a);
  color: var(--fulldark);
  border: none;
  transition-duration: 0.3s;
  cursor: pointer;
}

@media only screen and (max-width: 680px) {
  .todo{
    flex-direction: column;
  }
  .navbar{
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 64px;
    background-color: #492dee;
    align-items: end;
    transition-duration: 0.3s;
  }
  .logo{
    margin: 8px;
    height: 52px;
    width: 52px;
    
  }
  .viewport{
    display: flex;
    align-items: center;
    padding: 64px;
  }
  h1{
    font-size: 30pt;
    transition-duration: 0.3s;
  }
  
}

p{
  margin-top: -22px;
  margin-bottom: 32px;
  color: white;
}
