@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Cores */
:root {
  --fulldark: #261647;
  --fulllight: #f5f4fd; 
  --secdark: #6030b9;
  --enfdark: #6030b9;
  --moredark: #08031d63;
  --seclight: #c6c0f5;
  --hover_act_a: #60d789;
  --hover_act_b: #df4a61;
  --hover_act_c: #ef9661;
  --hover_act_d: #fdfd8a;
  --none_light: #67b68b18;
}

* {
  font-family: "Lexend", sans-serif;
}

body{
  margin: 0;
  background-color: var(--fulldark);
  background-image: url(../../source/back.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.navbar > .title{
  margin-top: -40px;
  margin-bottom: 32px;
  color: var(--fulllight);
  font-weight: 800;
  font-size: 15pt;
}

.todo{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.navbar{
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  flex-shrink: 0;
  width: 256px;
  background-color: var(--moredark);
  transition-duration: 0.3s;
  align-items: center;
}

.space{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  width: 256px;
  align-items: center;

}

.navbar > .navbt > .active {
    width: 300px !important;
    background-color: var(--hover_act_a) !important;
    color: var(--fulldark) !important;
    border-radius: 0px 32px 32px 0px !important;
    border-right: none !important;
}

.footer{
  margin-top: auto;
  margin-bottom: 32px;
  color: var(--seclight);
  font-size: 9pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social_bt{
  margin: 8px;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 4em;
  background-color: transparent;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_bt img{
  position: relative;
  top: 4px;
  left: 4px;
}

.social_bt:hover{
  background-color: var(--fulldark);
  transition-duration: 0.3s;
  scale: 120%;
}

.navbar:hover{
  background-color: var(--enfdark);
  transition-duration: 0.3s;
  width: 266px;
}

.global_sec > p{
  margin: 16px;
  
}

.warning{
  border-radius: 16px;
  background-color: var(--hover_act_b);
  color: white;
  padding: 16px;
}

.navbar > .navbt{
  width: 100%;
  margin-right: 32px;
}

.navbar > .navbt > button{
  text-align: right;
  padding-right: 32px;
  width: 100%;
  height: 52px;
  margin-right: 32px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 0px 6px 6px 0px;
  border: none;
  background-color: var(--none_light);
  color: var(--fulllight);
  font-size: 12pt;
  transition-duration: 0.3s;
  border-right: solid 6px var(--hover_act_a);
}

.navbar > .navbt > button:hover{
  width: 310px;
  background-color: var(--fulllight);
  color: var(--fulldark);
  border-radius: 0px 32px 32px 0px;
  border-right: none;
}

.logo{
  margin: 32px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.logo:hover{
  scale: 125%;
  transition-duration: 0.3s;
}

h1{
  color: var(--fulllight);
  font-size: 42pt;
  line-height: 1.0em;
  transition-duration: 0.3s;
  margin-left: 16px;
}

.viewport{
  flex-grow: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.ac_button{
  margin-bottom: 32px;
  padding: 16px 32px 16px 32px;
  font-family: 'Lexend', sans-serif;
  font-size: 12pt;
  border-radius: 32px;
  background-color: var(--secdark);
  color: var(--fulllight);
  border: none;
  transition-duration: 0.3s;
}

.ac_button:hover{
  padding: 16px 38px 16px 38px;
  background-color: var(--hover_act_a);
  color: var(--fulldark);
  border: none;
  transition-duration: 0.3s;
  cursor: pointer;
  
}

.line-1{
  font-family: 'Lexend', monospace;
  font-weight: 900;
  position: relative;
  width: 24em;
  font-size: 280%;
  margin: 0 auto;
  
  color: white;
  border-right: 4px solid rgba(255,255,255,.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 32px;
  margin-bottom: 32px;   
}

/* Animation */
.anim-typewriter{
animation: typewriter 2s 2s 1 normal both,
           blinkTextCursor 400ms infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 7.2em;}
}

@keyframes blinkTextCursor{
0%{border-right-color: var(--background_color_light_theme)}
50%{border-right-color: transparent;}
100%{border-right-color: var(--background_color_light_theme)}
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(
    rgba(0, 0, 0, 0), 
    rgba(101, 23, 173, 0.616)
  ),
  /* bottom, image */
  url(../../source/banner.png);
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  padding: 64px;
  margin-bottom: 32px;
  border-radius: 16px;
  flex: 1 1 40vw;
}

.categories{
  display: flex;
  flex-direction: row;
  height: 206px;
  padding-bottom: 32px;
  margin-left: -16px;
  margin-right: -16px;
}

.categories > a > div{
  font-size: 16pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 16px;
  flex-grow: 1;
  background-color: #ffffff46;
  
  
}

.loading{
  z-index: 999;
  color: rgba(255, 255, 255, 0.473);
  font-size: 12pt;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--fulldark);
  flex-direction: column;
  animation: sumindo 2500ms;
  animation-fill-mode: forwards;
  
}

.loading img{
  animation: scaling 1000ms infinite normal;
}

@keyframes scaling{
  0%{scale: 100%; filter:blur(2px); opacity: 0.5;}
  50%{scale: 120%; filter: blur(0px); opacity: 1;}
  100%{scale: 100%; filter:blur(2px); opacity: 0.5;}
}

@keyframes sumindo{
  0%{background-color: var(--fulldark);}
  70%{background-color: var(--fulldark);
      filter: blur(0px);
      scale: 100%;
      opacity: 100;}
      
  99%{
      background-color: transparent;
      filter: blur(16px);
      
      
      }
  100%{
    filter: blur(16px);
    scale: 220%;
    display: none;
    visibility: hidden;
    opacity: 0;
}
}
.categories > a{
  display: flex;
  transition-duration: 0.3s;
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
}

.categories > a > div:hover{
  font-weight: 900;
  letter-spacing: 8px;
  transition-duration: 0.3s;
  scale: 100%;
  color: var(--fulldark)
}

.categories .design{
  color: var(--hover_act_a);
  background-color: #0ec97159;
}

.categories .design:hover{
  background-color: var(--hover_act_a);
}

.categories .gamedev{
  color: var(--hover_act_b);
  background-color: #f87d7d34
}

.categories .gamedev:hover{
  background-color: var(--hover_act_b);
  color:white;
}

.categories .music{
  color: var(--hover_act_d);
  background-color: #fcfc7344
}

.categories .music:hover{
  background-color: var(--hover_act_d);
}

.mobile{
  display: none;
}

.title_2{
  font-size: 18pt;
  font-weight: 600;
  border-radius: 4em;
  background-color: rgba(83, 255, 154, 0.135);
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--hover_act_a);
  
  height: 32px;
}

.sec_1{
  color: white;
  text-align: justify;
}

.global_sec{
  padding: 12px;
  padding-top: 20px;
  padding-right: 32px;
  background-color: #00000032;
  border-radius: 32px;
  opacity: 0.7;
  margin-top: 8px;
  margin-bottom: 8px;
  transition-duration: 0.3s;
  
}

.global_sec:hover{
  opacity: 1;
  transition-duration: 0.3s;
  scale: 102%;
  
}

.sec_1 > li{
  font-size: 14pt;
  font-weight: 800;
  color: var(--hover_act_d)
}

.sec_2 > li{
  font-weight: 800;
}

@media only screen and (max-width: 800px) {
  
  .mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 12px;
    top:10px;
  }

  .mobile > a > button{
    padding-top: 4px;
    cursor: pointer;
    background-color: #60d78a59;
    color: var(--hover_act_a);
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    transition-duration: 0.3s;
    margin-right: 16px;
  }

  .mobile > a > button:hover{
    background-color: var(--hover_act_a);
    color: var(--fulldark);
    transition-duration: 0.3s;
    scale: 110%;
  }

  .mobile > a > .active{
    background-color: var(--hover_act_a);
    color: var(--fulldark);
    transition-duration: 0.3s;
    scale: 122%;
  }

  .categories{
    flex-direction: column;
    height: 512px;
  }

  .sec_1{
    text-align: justify;
  }

  .categories div{
    
    margin-top: 16px;
  }  
  .todo{
    text-align: center;
    flex-direction: column;
    flex-flow: row wrap;
    flex-shrink: 1;
    width: 100%;
  }

  .line-1{
    font-size: 22pt;
  }

  .navbar > .title{
    display: none;
  }

  .navbar > .navbt{
    display: none;
  }
  .footer{
    display: none;
  }
  .navbar{
    backdrop-filter: blur(32px);
    position: fixed;
    flex-shrink: 0;
    width: 100%;
    height: 64px;
    align-items: end;
    transition-duration: 0.3s;
  }
  .navbar:hover{
    width: 100%;
    height: 64px;
  }
  .space{
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 64px;
    align-items: end;
  }
  
  .logo{
    margin: 8px;
    height: 52px;
    width: 52px;
    
  }
  .viewport{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    
    
  }
  h1{
    font-size: 30pt;
    transition-duration: 0.3s;
  }
  .loading img {
    width: 108px;
    height: 108px;
  }
}

p{
  margin-top: -22px;
  margin-bottom: 32px;
  color: white;
}
